.checklistForm {
    .formWrap {
        display: grid;
        gap: 25px;
        .checkpointWrap {
            display: flex;
            align-items: center;
        }
    }
    .MuiPaper-root {
        cursor: pointer;
        margin: 0 0 2% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            background-color: var(--clr-blue-delete);
        }
    }
}
