header {
    .logo {
        text-align: center;
        font-size: var(--fs-800);
        text-shadow: 0 0 15px var(--clr-blue-black);
        span {
            color: var(--clr-blue-regular);
        }
    }
}
